body {
  background-color: $light-gray;
  color: $medium-gray;
}

.delete-me {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;

  .container {
    text-align: center;

    .my-class {
      font-weight: 200;
    }
  }
}
